[Desktop Entry]
Type=Application
Exec=panorama %U
Icon=$SNAP/panorama.svg
Terminal=false
Name=Panorama
Version=1.3.0
GenericName=System Monitor
Comment=A small system monitor for Linux
Categories=System
Keywords=system;monitor;memory;cpu;task;process;list;panorama;
