[Desktop Entry]
Type=Application
Exec=$SNAP/bin/panorama-snap-launch %U
Icon=$SNAP/bin/panorama.svg
Terminal=false
Name=Panorama
Version=1.2
GenericName=System Monitor
Comment=A small system monitor for Linux
Categories=System
Keywords=system;monitor;memory;cpu;task;process;list;panorama;
